body {
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

li {
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  flex: 1 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); 
  box-sizing: border-box;
}

img {
  width: 50px;
  height: 50px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
}

.pokedex-header {
  background-color: #e62117;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokedex-header img {
  width: 250px;
  height: auto; 
  margin-right: 10px; 
}